.box1 {
  height: 100vh;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 a {
  font-size: 3em;
}

.box2 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box2 a {
  font-size: 2em;
}

.box2 img {
  height: 100%;
  width: 80%;
  background-position: center;
}
